# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Django
*.log
*.sqlite3
/backend/media/
/backend/staticfiles/

# Env & secrets
.env
*.pem
*.key

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
